.MainPage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'profiles some'
    'profiles some'
    'profiles some';
}

.MainPageProfiles {
  grid-area: profiles;
  padding: 8px;
}

.MainPageSome {
  grid-area: some;
}

.MainPageSection {
  background-color: var(--c-primary-4);
  border-radius: 8px;
  padding: 8px;
}
