.OrderbookContent {
  position: relative;
  height: 50vh;
  width: 30vw;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--c-primary-2);
  isolation: isolate;
}

.OrderbookHeader {
  position: relative;
  height: 32px;
}

.OrderbookSide {
  overflow: auto;
  flex-basis: 1px;
}

.OrderbookNode {
  position: relative;
  height: 16px;
  flex-shrink: 0;
}

.OrderbookNode:hover {
  cursor: pointer;
  background-color: var(--c-primary-1);
}

.OrderbookPrice {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.OrderbookAmount {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.OrderbookSpread {
  position: relative;
  height: 32px;
  flex-shrink: 0;
}

.OrderbookSpreadPrice {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

.OrderbookSpreadTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.OrderbookSpreadPercent {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0, -50%);
}
